In [1]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
from numpy import newaxis
import random as rand

import warnings
warnings.filterwarnings("ignore") #Hide messy Numpy warnings
from sklearn.metrics import mean_squared_error as mse

Using TensorFlow backend.

In [77]:
df = pd.DataFrame()

In [78]:
raw_seq = pd.read_csv("../Stock_CSV/FB.csv")
raw_seq = raw_seq.set_index('date')
raw_seq = raw_seq.iloc[::-1]
seq = np.array(raw_seq['4. close'])
seq.shape

(1977,)

In [79]:
df['pred'] = seq[30:]

In [80]:
for i in range(0,30):
    df['val'+str(i)] = seq[i:len(seq)-30+i]

In [81]:
df

,pred,val0,val1,val2,val3,val4,val5,val6,val7,val8,...,val20,val21,val22,val23,val24,val25,val26,val27,val28,val29
0,30.771,38.2318,34.03,31.00,32.00,33.03,31.91,28.84,28.190,29.600,...,31.410,31.911,31.60,31.84,33.05,32.060,33.100,32.230,31.360,31.095
1,31.200,34.0300,31.00,32.00,33.03,31.91,28.84,28.19,29.600,27.720,...,31.911,31.600,31.84,33.05,32.06,33.100,32.230,31.360,31.095,30.771
2,31.470,31.0000,32.00,33.03,31.91,28.84,28.19,29.60,27.720,26.900,...,31.600,31.840,33.05,32.06,33.10,32.230,31.360,31.095,30.771,31.200
3,31.730,32.0000,33.03,31.91,28.84,28.19,29.60,27.72,26.900,25.869,...,31.840,33.050,32.06,33.10,32.23,31.360,31.095,30.771,31.200,31.470
4,32.170,33.0300,31.91,28.84,28.19,29.60,27.72,26.90,25.869,26.810,...,33.050,32.060,33.10,32.23,31.36,31.095,30.771,31.200,31.470,31.730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,148.100,212.3300,213.06,207.19,210.76,213.14,214.18,217.80,217.490,214.580,...,169.500,178.190,170.24,154.47,170.28,146.010,149.420,146.960,153.130,149.730
1943,160.980,213.0600,207.19,210.76,213.14,214.18,217.80,217.49,214.580,210.180,...,178.190,170.240,154.47,170.28,146.01,149.420,146.960,153.130,149.730,148.100
1944,156.210,207.1900,210.76,213.14,214.18,217.80,217.49,214.58,210.180,200.720,...,170.240,154.470,170.28,146.01,149.42,146.960,153.130,149.730,148.100,160.980
1945,163.340,210.7600,213.14,214.18,217.80,217.49,214.58,210.18,200.720,196.770,...,154.470,170.280,146.01,149.42,146.96,153.130,149.730,148.100,160.980,156.210
1946,156.790,213.1400,214.18,217.80,217.49,214.58,210.18,200.72,196.770,197.200,...,170.280,146.010,149.42,146.96,153.13,149.730,148.100,160.980,156.210,163.340